<div>
    <h2>
        <span jhiTranslate="appliGatewayApp.vendeur.home.title">Vendeurs</span>
        <button class="btn btn-primary float-right jh-create-entity create-vendeur" [routerLink]="['/', { outlets: { popup: ['vendeur-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appliGatewayApp.vendeur.home.createLabel">
            Create new Vendeur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vendeurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appliGatewayApp.vendeur.nom">Nom</span></th>
            <th><span jhiTranslate="appliGatewayApp.vendeur.prenom">Prenom</span></th>
            <th><span jhiTranslate="appliGatewayApp.vendeur.adresse">Adresse</span></th>
            <th><span jhiTranslate="appliGatewayApp.vendeur.npa">Npa</span></th>
            <th><span jhiTranslate="appliGatewayApp.vendeur.localite">Localite</span></th>
            <th><span jhiTranslate="appliGatewayApp.vendeur.numTel">Num Tel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vendeur of vendeurs ;trackBy: trackId">
                <td><a [routerLink]="['../vendeur', vendeur.id ]">{{vendeur.id}}</a></td>
                <td>{{vendeur.nom}}</td>
                <td>{{vendeur.prenom}}</td>
                <td>{{vendeur.adresse}}</td>
                <td>{{vendeur.npa}}</td>
                <td>{{vendeur.localite}}</td>
                <td>{{vendeur.numTel}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vendeur', vendeur.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vendeur/'+ vendeur.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vendeur/'+ vendeur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
