<div>
    <h2>
        <span jhiTranslate="appliGatewayApp.clientVisite.home.title">Client Visites</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-visite" [routerLink]="['/', { outlets: { popup: ['client-visite-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appliGatewayApp.clientVisite.home.createLabel">
            Create new Client Visite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientVisites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appliGatewayApp.clientVisite.idClient">Id Client</span></th>
            <th><span jhiTranslate="appliGatewayApp.clientVisite.visite">Visite</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientVisite of clientVisites ;trackBy: trackId">
                <td><a [routerLink]="['../client-visite', clientVisite.id ]">{{clientVisite.id}}</a></td>
                <td>{{clientVisite.idClient}}</td>
                <td>
                    <div *ngIf="clientVisite.visite">
                        <a [routerLink]="['../visite', clientVisite.visite?.id ]" >{{clientVisite.visite?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-visite', clientVisite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-visite/'+ clientVisite.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-visite/'+ clientVisite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
